body {
    background-color: #8a8a8a;
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.5), rgba(230, 230, 230, 0.5)), linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3) 80%, rgba(0, 0, 255, 0.1)), url("../media/background.png");
    background-size: 100% 100%, 100% 100%, 10px 10px;
    margin: 0;

    /* For debugging: */
    font-family: monospace;
    font-weight: 800;
    color: #f00;
}

/* FONTS */
.font-body{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: justify;
}
.font-nav{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: left;
}
.font-paragraph-title{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 20px;
}
.font-page-title{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 24pt;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.font-shadow{
    text-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
}


table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
}

td, th {
    border: 2px solid #eee;
    text-align: left;
    padding: 8px;
}

.border {
    background: rgba(255, 255, 255, 0.1);
    border-width: 4px;
    border-color: #eee;
    border-style: solid;
}

.thinborder{
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
}

.shadow{
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.1);
}

.nodecoration{
    text-decoration: none;
    color: black;
}

.flexrow{
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
    margin: 10px auto;
}

.flexrowcont{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    
    background: rgba(230, 230, 230, 0.8);
    padding: 20px; 
}
.flexrowcont:hover{
    border-color: #ccc;
}

.flexrowtext{
    margin-top: 5px;
}

@media (max-width:700px) {
    .border {
        border-radius: 30px;
    }
    .flexrowcont{
        padding: 15px;
    }
    #flexrow{
        max-width: 90%;
    }
}