body {
    background-color: #eee;
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.5), rgba(230, 230, 230, 0.5)), linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3) 80%, rgba(0, 0, 255, 0.1)), url("../media/background.png");
    background-size: 100% 100%, 100% 100%, 0.65vw 0.65vw;
    margin: 0;

    /* For debugging: */
    font-family: monospace;
    font-weight: 800;
    color: #f00;
}

/* FONTS */
.font-body{
    font-family: 'Open Sans';
    font-size: 1.3vw;
    font-weight: 400;
    color: #000;
    text-align: justify;
}
.font-nav{
    font-family: 'Open Sans';
    font-size: 1.3vw;
    font-weight: 400;
    color: #000;
    text-align: left;
}
.font-paragraph-title{
    font-family: 'Open Sans';
    font-size: 1.5vw;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 1.3vw;
}
.font-page-title{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 2.1vw;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.font-shadow{
    text-shadow: -0.2vw 0.33vw 0.33vw rgba(0, 0, 0, 0.2);
}


table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 0.65vw;
    margin-top: 0.65vw;
}

td, th {
    border: 0.1vw solid #eee;
    text-align: left;
    padding: 0.5vw;
}

.border {
    background: rgba(255, 255, 255, 0.1);
    border-width: 0.1vw;
    border-color: #eee;
    border-style: solid;
}

.thinborder{
    border-width: 0.06w;
    border-color: #aaa;
    border-style: solid;
}

.shadow{
    box-shadow: -0.2vw 0.3vw 0.3vw rgba(0, 0, 0, 0.1);
}

.nodecoration{
    text-decoration: none;
    color: black;
}

.flexrow{
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3vw 1.3vw;
    margin: 0.6vw auto;
}

.flexrowcont{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 23vw;
    
    background: rgba(230, 230, 230, 0.8);
    padding: 1.3vw; 
}
.flexrowcont:hover{
    border-color: #ccc;
}

.flexrowtext{
    margin-top: 0.3vw;
}

@media (max-width:1000px){
    /* FONTS */
    .font-body{
        font-size: 2.5vw;
    }
    .font-nav{
        font-size: 3vw;
    }
    .font-paragraph-title{
        font-size: 3vw;
    }
    .font-page-title{
        font-size: 4vw;
    }
    .nav-opt{
        display: none;
    }
}