/* LAYOUT */
.index-main{
    flex-direction: column; 
    margin: 3.25vw;
}
.card{
    display: grid;
    grid-gap: 0.65vw;
    grid-template-columns: auto auto 15vw;
    grid-template-rows: auto 3.25vw;
    grid-template-areas:
        "photo info menu"
        "photo name menu";
    margin-bottom: 6vw;
}
.photo{
    grid-area: photo;
    align-self: center;
    justify-self: right;
    margin-right: 0.65vw;
    border-radius: 30%;
    width: 13vw;
    height: 13vw;
}
.name{
    grid-area: name;
    align-self: center;
    justify-self: left;
}
.info{
    grid-area: info;
    align-self: flex-end;
}
.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: left;
    justify-content: space-evenly;
}
.menu-item{
    align-self: center;
    justify-self: center;

    width: 15vw;
    height: 3.58vw;

    padding: 0.32vw;
}
.menu-item:hover{
    border-color: #fff;
}
.cursive{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}


/* FONTS */
.font-cursive{
    font-family: 'Tangerine'; 
    font-size: 4vw;
    font-weight: 400;
    color: #000;
    text-align: center;    
}
.font-name{
    font-family: 'Merriweather';
    font-size: 2.9vw;
    font-weight: 400;
    color: blue;
}
.font-info{
    font-family: 'Open Sans';
    font-size: 1.4vw;
    font-weight: 400;
    justify-self: left;
    color: black;
}
.font-menu-item{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 1.5vw;
    font-weight: 400;
    justify-self: left;
    color: black;
}




@media (max-width:1000px){
    .card{
        grid-template-columns: auto auto;
        grid-template-rows: auto 6vw auto;
        grid-template-areas:
            "photo info"
            "photo name"
            "menu menu";
        grid-gap: 1vw;
        margin-bottom: 15vw;
        margin-top: 4vw;
    }
    .photo{
        /* grid-area: photo; */
        align-self: center;
        justify-self: center;
        /* margin-right: 0.1vw; */
        /* border-radius: 30%; */
        width: 30vw;
        height: 30vw;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vw;
        gap: 3vw;
        width: 100%;
    }
    .menu-item{
        width: auto;
        padding: 2vw;
        flex-shrink: 1;
        flex-basis: 20vw;
    
        width: 50vw;
        height: 10vw;
    
        padding: 0.5vw;
    }
    .cursive{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }


    /* FONTS */
    .font-cursive{
        font-size: 10vw;
    }
    .font-name{
        font-family: 'Merriweather';
        font-size: 6vw;
        font-weight: 400;
        color: blue;
    }
    .font-info{
        font-family: 'Open Sans';
        font-size: 4vw;
        font-weight: 400;
        justify-self: left;
        color: black;
    }
    .font-menu-item{
        font-size: 5vw;
        color: black;
    }
}
