/* LAYOUT */
.index-main{
    flex-direction: column; 
    margin: 50px;
}
.card{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 230px;
    grid-template-rows: auto 50px;
    grid-template-areas:
        "photo info menu"
        "photo name menu";
    margin-bottom: 70px;
}
.photo{
    grid-area: photo;
    align-self: center;
    justify-self: right;
    margin-right: 10px;
    border-radius: 30%;
    width: 200px;
    height: 200px;
}
.name{
    grid-area: name;
    align-self: center;
    justify-self: left;
}
.info{
    grid-area: info;
    align-self: flex-end;
}
.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: left;
    justify-content: space-evenly;
}
.menu-item{
    align-self: center;
    justify-self: center;

    width: 230px;
    height: 55px;

    padding: 5px;
}
.menu-item:hover{
    border-color: #fff;
}


/* FONTS */
.font-cursive{
    font-family: 'Tangerine'; 
    font-size: 60px;
    font-weight: 400;
    color: #000;
    text-align: center;    
}
.font-name{
    font-family: 'Merriweather';
    font-size: 34pt;
    font-weight: 400;
    color: blue;
}
.font-info{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    justify-self: left;
    color: black;
}
.font-menu-item{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    justify-self: left;
    color: black;
}




/* @media (max-width:800px){
    #photo{
        justify-self: center;
    }
    #row1{
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto;
        grid-template-areas:
            "photo"
            "name"
            "info";
    }
    #row2{
        max-width: 500px;
    }
    #name{
        justify-self: center;
        font-size: 20pt;
    }
    #info{
        align-self: center;
        justify-self: center;
    }
    #menu{
        gap: 5px;
    }
    .cont{
        padding: 5px;
    }
    .menu-item{
        width: auto;
        padding: 20px;
        flex-shrink: 1;
        flex-basis: 200px;
    }
    #row3{
        max-width: 90%;
    }
} */
