/* LAYOUT */
.index-main{
    flex-direction: column; 
    margin: 3.25vw;
}
.card{
    display: grid;
    grid-gap: 0.65vw;
    grid-template-columns: auto auto 15vw;
    grid-template-rows: auto 3.25vw;
    grid-template-areas:
        "photo info menu"
        "photo name menu";
    margin-bottom: 4.55vw;
}
.photo{
    grid-area: photo;
    align-self: center;
    justify-self: right;
    margin-right: 0.65vw;
    border-radius: 30%;
    width: 13vw;
    height: 13vw;
}
.name{
    grid-area: name;
    align-self: center;
    justify-self: left;
}
.info{
    grid-area: info;
    align-self: flex-end;
}
.menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: left;
    justify-content: space-evenly;
}
.menu-item{
    align-self: center;
    justify-self: center;

    width: 15vw;
    height: 3.58vw;

    padding: 0.32vw;
}
.menu-item:hover{
    border-color: #fff;
}


/* FONTS */
.font-cursive{
    font-family: 'Tangerine'; 
    font-size: 3.9vw;
    font-weight: 400;
    color: #000;
    text-align: center;    
}
.font-name{
    font-family: 'Merriweather';
    font-size: 2.9vw;
    font-weight: 400;
    color: blue;
}
.font-info{
    font-family: 'Open Sans';
    font-size: 1.4vw;
    font-weight: 400;
    justify-self: left;
    color: black;
}
.font-menu-item{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 1.5vw;
    font-weight: 400;
    justify-self: left;
    color: black;
}




@media (max-width:0vw){
    .index-main{
        flex-direction: column; 
        margin: 0.4vw;
    }
    .card{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "photo info"
            "name name"
            "menu menu";
        grid-gap: 1vw;
        margin-bottom: 7vw;
    }
    .photo{
        grid-area: photo;
        align-self: center;
        justify-self: center;
        margin-right: 0.1vw;
        border-radius: 30%;
        width: 50vw;
        height: auto;
    }
    .name{
        justify-self: center;
        font-size: 2.6vw;
    }
    .info{
        align-self: center;
        justify-self: center;
    }
    .menu{
        gap: 0.5vw;
    }
    .menu-item{
        width: auto;
        padding: 2vw;
        flex-shrink: 1;
        flex-basis: 20vw;

        align-self: center;
        justify-self: center;
    
        width: 23vw;
        height: 5.5vw;
    
        padding: 0.5vw;
    }



    /* FONTS */
    .font-cursive{
        font-family: 'Tangerine'; 
        font-size: 6vw;
        font-weight: 400;
        color: #000;
        text-align: center;    
    }
    .font-name{
        font-family: 'Merriweather';
        font-size: 4.5vw;
        font-weight: 400;
        color: blue;
    }
    .font-info{
        font-family: 'Open Sans';
        font-size: 1.6vw;
        font-weight: 400;
        justify-self: left;
        color: black;
    }
    .font-menu-item{
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-size: 2.4vw;
        font-weight: 400;
        justify-self: left;
        color: black;
    }
}
