.header{
    display: grid;
    grid-gap: 0.6vw;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "menu title empty";
}

.nav-container{
    grid-area: menu;
}
.nav{
    display: flex;
    flex-direction: row;
    margin: 1.3vw 0.6vw 0vw 0.6vw;
    align-items: baseline;
    flex-wrap: wrap;
}
.nav-item{
    margin-right: 0.3vw;
}


.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subcontent{
    margin: 1.3vw;
}
.subsubcontent{
    width: 100%; 
    overflow: auto;
}
.td-flex{
    display: flex; flex-direction: row; gap: 3vw;
}
.td-flex-text{
    flex-grow: 1;
}

.lai1{
    width: 40%;
}
.lai2{
    width: 30%;
}
.lai3{
    width: 45%;
}
.lai4{
    width: 30%;
}
.lai5{
    width: 50%;
}
.lai6{
    width: 25%;
}

@media (max-width:1000px){
    .nav-opt{
        display: none;
    }
    .la1{
        flex-direction: column-reverse;
    }
    .la2{
        flex-direction: column;
    }
    .la3{
        flex-direction: column-reverse;
    }
    .la4{
        flex-direction: column;
    }
    .la5{
        flex-direction: column-reverse;
    }
    .la6{
        flex-direction: row;
    }
    .lai1{
        width: 50%;
    }
    .lai2{
        width: 50%;
    }
    .lai3{
        width: 60%;
    }
    .lai4{
        width: 35%;
    }
    .lai5{
        width: 60%;
    }
    .lai6{
        width: 50%;
    }
}